body {
    background-image: url("./marmol.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.img1 {
    width: 270px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;git 
  }