body {
    background-image: url("./marmol.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.img1 {
    width: 270px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    animation-name: zoom-color;
    animation-duration: 5s;
    position: relative;
    transition: transform 1s;
}

.img1:hover {
    transform: scale(1.1);
} 

@keyframes zoom-color {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}